In [24]:
import pandas as pd

In [25]:
df=pd.read_excel('flight data.xlsx',index_col=0)
df.head()
#null hypothesis - that average fare did not change between 2000 and 2001 q4
#- post 9/11 change 
#significant change! - % change- abs or ratio, comparing to inflation
#understand if this is population or sample data 
# look for other indicators 
# no of passengers - no of passengers goes down, price sinks 
#distance - relationship 
# popl - have a relationship 
# whats the expected variation in the data? 
# - inflation , volatility, seasonality, change in passenger no, change in popul (demand), diff in distance, external diff, new or change in routes

,city to,pop city from 1000s,pop city to 1000s,distance betw cities m,avg fare dollars 2000 q4,avg weekly passengers 2000 q4,avg fare dollars 2001 q4,avg weekly passengers 2001 q4
city from,,,,,,,,
ABE,CLE,613.84,2908.44,339.0,322.20,23.36,326.70,18.58
ABE,CLT,613.84,1350.24,480.0,250.27,52.60,241.53,35.76
ABE,CMH,613.84,1460.24,395.0,259.29,19.23,240.71,14.23
ABE,DEN,613.84,2318.36,1539.0,202.77,80.97,209.82,55.10
ABE,DFW,613.84,4683.01,1308.0,344.47,45.54,293.50,40.21

In [26]:
stats = df.describe(include='all')
print (stats)

       city to  pop city  from 1000s  pop city to 1000s  \
count     4175           4175.000000        4175.000000
unique     184                   NaN                NaN
top        IAD                   NaN                NaN
freq       148                   NaN                NaN
mean       NaN           2374.735272        2553.425013
std        NaN           3307.832747        3737.031552
min        NaN             14.870000          18.250000
25%        NaN            503.950000         611.810000
50%        NaN           1164.720000        1460.240000
75%        NaN           2792.140000        2722.650000
max        NaN          19876.490000       19876.490000

        distance betw cities m  avg fare dollars 2000 q4  \
count              4175.000000               4175.000000
unique                     NaN                       NaN
top                        NaN                       NaN
freq                       NaN                       NaN
mean               1046.826108                209.956857
std                 614.768012                 70.642935
min                  72.000000                 61.110000
25%                 565.000000                158.570000
50%                 911.000000                206.500000
75%                1420.500000                254.515000
max                2724.000000                529.700000

        avg weekly passengers 2000 q4  avg fare dollars 2001 q4  \
count                     4175.000000               4175.000000
unique                            NaN                       NaN
top                               NaN                       NaN
freq                              NaN                       NaN
mean                       226.855638                188.596857
std                        530.669697                 59.691852
min                         10.000000                 57.510000
25%                         30.970000                146.300000
50%                         61.840000                183.020000
75%                        182.060000                228.345000
max                       7676.410000                528.350000

        avg weekly passengers 2001 q4
count                     4175.000000
unique                            NaN
top                               NaN
freq                              NaN
mean                       206.690187
std                        471.182221
min                         10.000000
25%                         28.360000
50%                         57.710000
75%                        169.995000
max                       8084.020000